
@import "compass";
@import "bootstrap";

$light-blue: #4aaedf;
$greenC:#81ca00;
$bg-gray:#f1f1f1;
$border-gray:#cccccc;
$pink-alert:#f72c71;
$header-one-font:#484848;
$regular-text:#747474;
$disable-text:#b6b6b6;
$bodyColor:#fafafa;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow(){
-webkit-box-shadow: 2px 2px 12px 0px rgba(156,156,156,1);
-moz-box-shadow: 2px 2px 12px 0px rgba(156,156,156,1);
box-shadow: 2px 2px 12px 0px rgba(156,156,156,1);
}
body {
	font-size:14px;
	background-color:$bodyColor;
	h1{
		margin-top:10px;
		color:$header-one-font;
		font-size:24px;
		vertical-align: text-top;
		.badge{
			background-color:$pink-alert;
			@include border-radius(50%);
			font-size: 10px;
			padding: 6px 5px 6px 5px;
			vertical-align: 5px;
		}
		.creditleft{
			font-size: 12px;
			color: $disable-text;
			margin-left: 10px;
			vertical-align: 5px;
		}
	}

	.amountFree{
		line-height: 8px;
		.greenBold{
		color:$greenC;
		font-weight: bold;
		}
	}
	.forProgerssBar{
		margin-top: 20px;
	}
	@media screen and (max-width:575px){
		.forProgerssBar{
			margin-bottom: 10px;
			text-align: left;
			.col-sm-9{
				padding-left: 0;
			}
		}
	}
	.progress-bar{
		background-color: $greenC;
		float: right;
	}
	
	h2{
		text-transform: uppercase;
		span{
			text-transform: lowercase;
		}
	}
	input[type="checkbox"]{
		font-size: 40px;
	}
	p{
		margin-bottom: 0;
	}
	.navbar-light {
		@include border-radius(5px);
		.navbar-collapse{
			.navbar-nav {
				.nav-link{font-size: 14px;padding-top:4px;padding-bottom:4px;}	
				#navbarDropdown{
					background-color:white;
					border:solid $border-gray 1px;
					text-align: left;
					width: 200px;
					@include border-radius(5px);
					.caret {
					   float: right;
					   margin-top: 10px;
					   margin-right: 5px;
					}								
				}
				.filters{
					border-left: solid $border-gray 1px;
					margin-left: 15px;
					vertical-align: top;
					label{
						margin-bottom: 0;
					}
					.labelCredits{
						vertical-align: bottom !important;
						margin-right: 10px;
						margin-left: 10px;
					}

				}
				@media screen and (max-width:575px){
					.filters {
						border:none;
						margin-left: 0;
						.labelCredits{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	.row{
		margin-left: auto;
		margin-right: auto;
		.selectedColumn{
			border: solid $border-gray 1px;
			margin-bottom: 2%;
			@include border-radius(5px);
			padding:0;
			.selectedTitle{
			padding:10px;
			background-color:$bg-gray;
			}
			.selectedBottom{
				background-color:$light-blue;
				padding:10px;
				display: flex;
				flex-direction: row;
				text-align:center;
				justify-content: center;
				.blueButton{
					padding: 2px;
					border: solid #007bff 1px;
					@include border-radius(5px);
				}
			}
		}
		.notSelectedTitle{
			padding:11px 10px 10px 10px;
		}
		.list-group{
			padding:10px;
			.list-group-item{
				margin-bottom: 10px;
				height: 50px;
				@include border-radius(5px);
				p{
					.fadedText{
						color: $disable-text;
						span{
							float: right;
						}
					}
				}
			}
			.availableSlot{
				text-align: left;
				font-size: 1.2em;
				color: $disable-text;
				border: dashed $border-gray 1px;
				line-height: 35px;
			}
			.pickedClass{
				border-left: solid $greenC 8px;
				p{
					margin-top: 2px;
				}
				.someHidden{
					border-left: solid $pink-alert 5px;
					@include border-radius(5px);
					@include box-shadow();
					display: none;
					width: 100%;
					padding:10px;
					background-color: white;
					color: $regular-text;
					z-index: 1;
					position: absolute;
					top:-65px;
					left:5%;
					p{
						color:$regular-text;
					}
				}
				.someHidden::after{
				    content: '';
				    position: absolute;
				    left: 82%;
				    top: 100%;
				    width: 0;
				    height: 0;
				    border-left: 10px solid transparent;
				    border-right: 10px solid transparent;
				    border-top: 10px solid white;
				    clear: both;
				}
				.badge{
					background-color:$pink-alert;
					@extend .badge;
					border:solid #852745 1px;
					padding: 1px 5px 1px 5px;
					float: right;
				}
			}
			.addBlue{
				padding:0;
				.blueAddBtn{
				margin-right: 10px;
				background-color:$light-blue;
				color: white;
				font-size: 25px;
				border-radius: 5px 0px 0px 5px;
				padding:5px;
				width: 15%;
				height: 49px;
				width: 40px;
				float: left;
				text-align:center;
				}
			}
			.something{
				padding:10px;
				.addSubject{
					color:$light-blue;
				}
			}
		}		
	}
}